<style>
#box {
	background-color: yellow;
}
</style>

<div id="box" onmouseover="changeBg()" onmouseout="revertBg()">
	<h1>
	hello world
	</h1>
</div>

<input type="text" id="num"/>
<button id="get-cube">Get Cube</button>

<script>
function changeBg() {
	document.getElementById("box").style.backgroundColor = "red";
}

function revertBg() {
	document.getElementById("box").style.backgroundColor = "yellow";
}

document.getElementById("get-cube").addEventListener("click", () => {
	var x = document.getElementById("num").value;
	alert(`Cube of ${x} is ${x * x * x}`)
});

</script>