<input onkeyup="getSqr()" value="5" autofocus type="text" id="num" placeholder="Enter number"/> <br/>
<button onclick="getSqr()">Hit Me</button> <br/>
<div class="result">
Output will come here
</div>


<div class="result">
ha ha he he
</div>


<div id="op">
this is op
</div>


<div class="opclass">
this is opclass 1
</div>



<div class="opclass">
this is opclass 2
</div>

<script>

function getSqr() {
	
	var x = document.getElementById("num").value;
	var output = `Square of ${x} is ${x * x}`;
	console.log(output);
	document.getElementsByClassName("result")[0].innerHTML = output;
	document.getElementsByClassName("result")[1].innerHTML = output;
	document.querySelector("#op").innerHTML = output;
	document.querySelector(".opclass").innerHTML = output;
}
	
</script>