<div id="msg">
	this message will disappear in 5 seconds
</div>

<div id="timer">

</div>

<script>
function clearMsg() {
	let op = "Khatam gaya tata bye bye good bye";
	op = op + "<img src='https://c.tenor.com/XRaqIsw6SgcAAAAd/rahul-gandhi-khatam.gif'/>";
	document.getElementById("msg").innerHTML = op;
}

setTimeout(clearMsg, 5000);

cnt = 100;

function setTimer() {
	document.getElementById("timer").innerHTML = cnt--;
}

setInterval(setTimer, 1000);

</script>